@import url(https://fonts.googleapis.com/css?family=Oswald:700);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

h1 {
  font-family: 'Oswald', Helvetica, sans-serif;
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
}

body {
  font-family: 'Old Standard TT', serif;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("pyramids.jpg");
  background-size: cover;
}

header {
  position: absolute;
  color: white;
  text-align: center;
}

p {
  margin: 0;
  font-size: 1.5rem;
}