h1{text-align: top left;
	font-family: Helvetica;
	color: #000;
font-weight: bold;
padding-top: 300px;
padding-left: 300px;}

	body {text-align: top left;
color: #000;}

p{text-align: left;
font-family: Helvetica;
font-size: 18px;
padding-top: 300px;
padding-left: 300px;}

html {background: url(images/pyramids.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover}