h1{text-align: top left;
	font-family: Helvetica;
	color: #000;
font-weight: bold;
padding-top: 300px;
padding-left: 300px;}

	body {text-align: top left;
color: #000;
background: url("images/pyramids.jpg");
background-size: cover;}

p{text-align: left;
font-family: Helvetica;
font-size: 18px;
padding-top: 300px;
padding-left: 300px;}